/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";

@import "grids";

@import "layout/header";

@import "landing/hero";

@include border-box-sizing();

@mixin section-title {
	padding: 0 10px;
    font-size: 35px;
    font-weight: 400;
    color: #2d3950;
    text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
  color: #999;
  font-size: 20px;
}

a:link, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  @include container();
  padding: 0 15px;
}
/*----HERO----*/
.intro {
	background-color: #f6f9f9;
	.container {
		padding: 80px 30px 100px;
	}
	.section-title {
	    @include section-title;
	}
	.intro-description {
		margin-top: 20px;
	    font-size: 18px;
	    line-height: 27px;
	    color: #999;
	    text-align: center;
	}
}
/*----END HERO----*/
/*----FEATURES----*/
.features {

	.container {
		    padding: 55px 15px;
	}
	.features-list {
		display: flex;
		display:-webkit-flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		li {
			display: inline-block;
    		margin: 0 50px;
    		.fa {
    			display: block;
			    width: 100px;
    			height: 100px;
			    margin: 0 auto;
			    color: #fff;
			    line-height: 100px;
			    text-align: center;
			    text-shadow: 0.8px 0.6px 1px rgba(2, 2, 2, 0.4);
			    background: #48baff;
			    background: -moz-linear-gradient(left, #48baff 0%, #48baff 50%, #5fc3ff 50%);
			    background: -webkit-linear-gradient(left, #48baff 0%, #48baff 50%, #5fc3ff 50%);
			    background: linear-gradient(to right, #48baff 0%, #48baff 50%, #5fc3ff 50%);
			    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 );
			    -webkit-transition: all 0.5s ease-in-out;
			    -moz-transition: all 0.5s ease-in-out;
			    -ms-transition: all 0.5s ease-in-out;
			    -o-transition: all 0.5s ease-in-out;
			    transition: all 0.5s ease-in-out;
    		}
    		h4 {
    			margin-top: 30px;
			    font-size: 23px;
			    color: #2d3950;
    		}
    		p {
    			margin: 20px auto 30px;
			    max-width: 260px;
			    text-align: center;
			    font-size: 15px;
			    line-height: 22px;
			    color: #999;
    		}
		}
	}
}
/*----END FEATURES----*/
/*----PORTFOLIO----*/
.portfolio {
	background-color: #f6f9f9;
	.container {
		padding-top: 80px;
	}
	.section-title {
		@include section-title;
	}
	.portfolio-description {
		margin: 20px 0 40px;
	    color: #999;
	    font-size: 15px;
	    text-align: center;
	}
	.portfolio-list {
		text-align: center;
		.item {
			display: inline-block;
			position: relative;
			overflow: hidden;
		}
		.hover-effect {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: black;
		    background-color: rgba(21, 164, 250, 0.9);
			color: #fff;
			opacity: 0;
			-webkit-transition: all 0.6s ease-in-out;
			-moz-transition:    all 0.6s ease-in-out;
			-o-transition:      all 0.6s ease-in-out;
			
			&:hover {
				opacity: 1;
			}
			&:before {
				bottom: 0; left: 0;
			}
		} 
		.hover-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;

			a {
			    display: inline-block;
			    width: 47px;
			    height: 47px;
			    color: #fff;
			    border: 1px solid #fff;
			    border-radius: 2px;
			    -webkit-transition: all 0.4s ease-in-out;
			    -moz-transition: all 0.4s ease-in-out;
			    -ms-transition: all 0.4s ease-in-out;
			    -o-transition: all 0.4s ease-in-out;
			    transition: all 0.4s ease-in-out;
			}

			.fa {
				display: block;
				width: inherit;
				height: inherit;
				margin: 0 auto;
				line-height: 45px;
				text-align: center;
				-webkit-transition: all 0.6s ease-in-out;
				-moz-transition:    all 0.6s ease-in-out;
				-o-transition:      all 0.6s ease-in-out;

				&:hover {
					color: #15a4fa;;
					background: #fff;
				}
			}
		}
	}
}
/*----END PORTFOLIO----*/
/*----END CONTACT-US----*/
.contact-us {
	background: url("../images/contact-us.png") center;
    background-size: cover;
    .container {
    	background: rgba(39,54,84,0.8);
    	padding: 80px 10px;
    	margin: 0 auto;
    }
    .section-title {
    	@include section-title;
		color: #fff;
    }
    h5 {
	    margin: 20px 0 50px;
	    font-size: 15px;
	    color: #999;
	    text-align: center;
    }
    .contact-form {
	    max-width: 555px;
	    margin: 0 auto;
		overflow: hidden;
	    font-size: 12px;
	    .form-name {
		    width: 100%;
    	    margin-bottom: 10px;
		    padding: 10px;
		    font-family: 'Lato';
		    color: #fff;
		    border: 1px solid #999;
		    border-radius: 2px;
		    background: transparent;
		    -webkit-transition: all 0.4s ease-in-outease-in-out;
		    -moz-transition: all 0.4s ease-in-outease-in-out;
		    -ms-transition: all 0.4s ease-in-outease-in-out;
		    -o-transition: all 0.4s ease-in-outease-in-out;
		    transition: all 0.4s ease-in-outease-in-out;
	    }
	    .form-email {
		    width: 100%;
    	    margin-bottom: 10px;
		    padding: 10px;
		    font-family: 'Lato';
		    color: #fff;
		    border: 1px solid #999;
		    border-radius: 2px;
		    background: transparent;
		    -webkit-transition: all 0.4s ease-in-out;
		    -moz-transition: all 0.4s ease-in-out;
		    -ms-transition: all 0.4s ease-in-out;
		    -o-transition: all 0.4s ease-in-out;
		    transition: all 0.4s ease-in-out;
	    }
	    .form-message {
		    width: 100%;
			margin-bottom: 10px;
		    padding: 10px;
		    font-family: 'Lato';
		    color: #fff;
		    border: 1px solid #999;
		    border-radius: 2px;
		    background: transparent;
		    -webkit-transition: all 0.4s ease-in-out;
		    -moz-transition: all 0.4s ease-in-out;
		    -ms-transition: all 0.4s ease-in-out;
		    -o-transition: all 0.4s ease-in-out;
		    transition: all 0.4s ease-in-out;
	    }
	    .newsletter-sc {
    	    float: left;
    		color: #fff;
	    }
	    .submit-button {
    	    float: right;
		    padding: 10px 30px;
		    color: #fff;
		    border: 1px solid #15a4fa;
		    border-radius: 2px;
		    background: transparent;
		    cursor: pointer;
		    -webkit-transition: all 0.7s ease-in-out;
		    -moz-transition: all 0.7s ease-in-out;
		    -ms-transition: all 0.7s ease-in-out;
		    -o-transition: all 0.7s ease-in-out;
		    transition: all 0.7s ease-in-out;
	    }
    }
}
/*----END CONTACT-US----*/
/*----FOOTER----*/
footer {
	background: #fff;
	.container {
		.copyright {
			display: block;
	    	margin-top: 20px;
	    	text-align: center;
	    	font-size: 15px;
		}
		.social-networks {
			margin: 30px 0;
			text-align: center;
			li {
				display: inline-block;
				text-align: center;
				a {
					display: block;
					width: 50px;
					height: 50px;
					margin: 0 auto;
					line-height: 50px;
				    color: #fff;
				    border: 1px solid #15a4fa;
				    border-radius: 2px;
				    background-color: #15a4fa;
				    -webkit-transition: all 0.7s ease-in-out;
				    -moz-transition: all 0.7s ease-in-out;
				    -ms-transition: all 0.7s ease-in-out;
				    -o-transition: all 0.7s ease-in-out;
				    transition: all 0.7s ease-in-out;
				    .fa {
				    	width: 50px;
    					font-size: 15px;
    					text-align: center;
    				}
				    &:hover {
				    	background: #fff;
				    	.fa {
				    		color: #15a4fa;
    					}
				    }
				}
			}
		}
	}
}
/*----END FOOTER----*/
/*--------------------------------media queries-------------------------------------------*/
@media (min-width: 480px) {
/*----PORTFOLIO----*/
	.portfolio {
		
		.portfolio-list {
			text-align: center;
			.item {
				display: inline-block;
				position: relative;
				overflow: hidden;
			}
			.hover-effect {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: black;
			    background-color: rgba(21, 164, 250, 0.9);
				color: #fff;
				opacity: 0;
				-webkit-transition: all 0.6s ease-in-out;
				-moz-transition:    all 0.6s ease-in-out;
				-o-transition:      all 0.6s ease-in-out;
				
				&:hover {
					opacity: 1;
				}
				&:before {
					bottom: 0; left: 0;
				}
			} 
			.hover-content {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;

				a {
				    display: inline-block;
				    width: 47px;
				    height: 47px;
				    color: #fff;
				    border: 1px solid #fff;
				    border-radius: 2px;
				    -webkit-transition: all 0.4s ease-in-out;
				    -moz-transition: all 0.4s ease-in-out;
				    -ms-transition: all 0.4s ease-in-out;
				    -o-transition: all 0.4s ease-in-out;
				    transition: all 0.4s ease-in-out;
				}

				.fa {
					display: block;
					width: inherit;
					height: inherit;
					margin: 0 auto;
					line-height: 45px;
					text-align: center;
					-webkit-transition: all 0.6s ease-in-out;
					-moz-transition:    all 0.6s ease-in-out;
					-o-transition:      all 0.6s ease-in-out;

					&:hover {
						color: #15a4fa;;
						background: #fff;
					}
				}
			}
		}
	}
/*----END PORTFOLIO----*/
/*----FOOTER----*/
	footer {
		overflow: hidden;
		.container {
			padding-bottom: 50px;
			
			.social-networks {
				margin: 30px 0;
				text-align: center;
			}
		}
	}
/*----END FOOTER----*/
}
@media (min-width: 768px) {
/*----PORTFOLIO----*/
	.portfolio {
		
		.portfolio-list {
			display: flex;
			display:-webkit-flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-bottom: 40px;
			.item {
				width: 360px;
				margin: 10px;
			}
		}
	}
/*----END PORTFOLIO----*/
/*----END CONTACT-US----*/
	.contact-us {
		
		.contact-form {
		    
		    .form-message {
			    height: 160px;
		    }
		}
	}
/*----END CONTACT-US----*/
/*----FOOTER----*/
	footer {
		.container {
			padding-bottom: 50px;
			.copyright {
				float: left;
				margin: 35px 0 0 35px;
		    }
			.social-networks {
				float: right;
				width: 250px;
				margin-top: 0;
				margin-right: 20px;
				padding-top: 20px;
				a {
					.fa {
						font-size: 20px
					}
				}
			}
		}
	}
/*----END FOOTER----*/
}
@media (min-width: 1024px) {
/*----PORTFOLIO----*/
	.portfolio {
		
		.portfolio-list {
			display: flex;
			display:-webkit-flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-bottom: 40px;
			.item {
				width: span(3 of 12);
			}
		}
	}
/*----END PORTFOLIO----*/
/*----END CONTACT-US----*/
	.contact-us {
		.container {
			max-width: inherit;
		}
		.contact-form {
		    
		    .form-message {
			    height: 160px;
		    }
		}
	}
/*----END CONTACT-US----*/
/*----FOOTER----*/
	footer {
		.container {
			
			.social-networks {
				a {
					.fa {
						font-size: 30px
					}
				}
			}
		}
	}
/*----END FOOTER----*/
} 
@media (min-width: 1200px) {
/*----PORTFOLIO----*/
	.portfolio {
		
		.portfolio-list {
			padding-bottom: 40px;
			.item {
				width: span(3 of 12);
				margin: 10px;
			}
		}
	}
/*----END PORTFOLIO----*/
/*----END CONTACT-US----*/
	.contact-us {
		
		.contact-form {
		    
		    .form-message {
			    height: 160px;
		    }
		}
	}
/*----END CONTACT-US----*/
/*----FOOTER----*/
	footer {
		.container {
			
			.social-networks {
				a {
					.fa {
						font-size: 30px
					}
				}
			}
		}
	}
/*----END FOOTER----*/
}