/*--thumbs--*/
	#jquery-script-menu {
		position: fixed;
		height: 90px;
		width: 100%;
		top: 0;
		left: 0;
		border-top: 5px solid #316594;
		background: #fff;
		-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
		-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
		box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
		z-index: 999999;
		padding: 10px 0;
	}
	.jquery-script-center {
		width: 960px;
		margin: 0 auto;
	}
	.jquery-script-center ul {
		width: 212px;
		float:left;
		line-height:45px;
		margin:0;
		padding:0;
		list-style:none;
	}
	.jquery-script-center a {
		text-decoration:none;
	}
	.jquery-script-ads {
		width: 728px;
		height:90px;
		float:right;
	}
	.jquery-script-clear {
		clear:both;
		height:0;
	}
	.clearout {
		height: 20px;
		clear: both;
	}

	#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
		display: none;
	}
	.nbs-flexisel-container {
		position: relative;
		max-width: 100%;
	}
	.nbs-flexisel-ul {
		position: relative;
		top: 0;
		width: 9999px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
	}
	.nbs-flexisel-inner {
		overflow: hidden;
		width:80%;
		margin: 0 auto;
	}
	.nbs-flexisel-item {
		float: left;
		margin: 0px;
		padding: 0px;
		cursor: pointer;
		position: relative;
		line-height: 0px;
	}
	.nbs-flexisel-item > img {
		width:50%;
		cursor: pointer;
		position: relative;
		margin-bottom: 10px;
		max-width: 100px;
		max-height: 45px;
	}
	/*** Navigation ***/
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		width: 37px;
		height: 48px;
		position: absolute;
		cursor: pointer;
		z-index: 100;
	}
	.nbs-flexisel-nav-left {
		left:-5px;
		background: url(../images/img-sprite.png) no-repeat -19px -18px;
	}
	.nbs-flexisel-nav-right {
		right:1px;
		background: url(../images/img-sprite.png) no-repeat -50px -16px;
	}