@import "compass/reset";

@import "grids";


.wrapper {
	@include container();
	padding: 0 15px;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
}
a:link, a:visited {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
section, footer {
	padding: 65px 0;
	overflow: hidden;
}

@mixin transition {
	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition:    all 0.5s ease-in-out;
	-o-transition:      all 0.5s ease-in-out;
}
@mixin section-description {
	position: relative;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	color: #000;
	font-size: 30px;
	font-weight: 600;
	line-height: 72px;
	text-transform: uppercase;

	&:after {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	    content: " ";
		display: inline-block;
		width: 100px;
		height: 2px;
		background-color: #d1d1d1;
	}
}
/*------------------------------------------navigation----------------------------------*/
header {
	z-index: 999999999;
	position: fixed;
	width: 100%;
	height: 60px;
	line-height: 60px;
    background: rgba(236,236,236, 0.9);
	color: #fff;

  .header-wrapper {
    position: relative;
    margin: 0 auto;
    @include container;
    text-align: left;
    z-index: 10;
   @include transition;

  }
	.site-logo {

		.logo {
			color: #f7f7f7;
			font: 400 45px 'Thirsty rough', sans-serif;
			text-shadow: 1.5px 2.6px 0 rgba(0, 0, 0, 0.25);
		}
	}
  .main-menu {
    position: relative;
    @include transition;
    & > span {
      display: none;
    }
  }

  .nav {
    position: absolute;
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
    @include transition;
    li {
      float: left;

      font-size: 0;
    }
    a {
		display: block;
		width: 100%;
		height: 55px;
		box-sizing: border-box;
		padding-top: 32px;
		margin: 0 auto;
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		line-height: 0;
		text-align: center;
		@include transition;

      &:hover {
        color: #fff;
		background: #fc0;
	  }
    }
  }
}

@media (max-width: 768px) {
  header {
  	background: rgba(236,236,236, 0.9);
  	@include transition;

  	.header-wrapper { width: 100%; }
    
    .nav {
      width: 100%;
      top: 60px;
      @include transition;
      &:before {
        content: '\2630';
		display: block;
		position: absolute;
		right: 10%;
		top: -50px;
		color: #c4275f;;
		line-height: 40px;
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
      }
        ul {
          width: 100%;
          background: rgba(236,236,236, 0.99); 

          li {
            float: none;
            width: 100%;
          }
        }
      a {
          padding: 10px 3%;
          font-size: 13px;
          color: #fc0;
          line-height: 20px;
          border-top: 1px solid #337ab7;
          @include transition;

		&:hover {
          background: rgba(255,204,0, 0.5);
        }
      }
  }
    .nav ul {
		display: none;
    }
    .nav.open ul {
		display: block;
      	opacity: 1;
    }
  }
}
/*------------------------------------------end navigation----------------------------------*/
/*------------------------------------------hero----------------------------------*/
.hero {
	background: #ececec url('../images/hero-bg.png') center no-repeat;
	background-size: cover;


	.logo {
		display: block;
		margin: 0 auto;
		padding-top: 175px;
		text-align: center;
	}

	.hero-title {
		max-width: 664px;
		margin: 0 auto;
		padding-top: 34px;
		text-align: center;
		color: #fff;
		font-size: 34px;
		font-style: italic;
		line-height: 40px;
		text-transform: uppercase;
	}	
}
/*------------------------------------------end hero----------------------------------*/
/*------------------------------------------about----------------------------------*/
.about {
	// position: relative;
	padding-top: 35px;
    overflow: hidden;
	background:  url('../images/about-bg.png') top no-repeat;
	background-size: cover;

	&:before {
	    background: #ececec;
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 50%;
	    top: 102%;
	    left: -25%;
	    z-index: -1;
	    -webkit-transform: rotate(30deg);
	    -moz-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
	    -o-transform: rotate(30deg);
	    transform: rotate(-73deg);
	}

	&:after {
	    background: #ececec;
	    content: "";
	    position: absolute;
	    top: 98%;
	    height: 77%;
	    width: 60%;
	    right: 0%;
	    z-index: -1;
	    -webkit-transform: rotate(15deg);
	    -moz-transform: rotate(15deg);
	    -ms-transform: rotate(15deg);
	    -o-transform: rotate(15deg);
	    transform: rotate(0deg);
	}


	.section-description {
		@include section-description;
		margin-bottom: 20px;
	}

	.item-about {
		margin: 0 auto 40px;
		text-align: center;

		li {
			display: inline-block;
			max-width: 300px;
			margin: 20px auto;
			text-align: center;

			&:nth-child(even) {
				.hexagon {
					margin-bottom: 34px;
				}
			}

			h3 {
				margin: 0 auto 31px;
				text-align: center;
				color: #333;
				font: 700 20px / 28px 'Raleway', sans-serif;
				text-transform: uppercase;
			}

			p {
				margin-bottom: 43px;
				color: #6e6e6e;
				font-size: 14px;
				font-weight: 400;
				line-height: 28px;
			}

			.hexagon {
				display: block;
				width: 137px;
				height: 158px;
				margin: 0 auto 17px;
				text-align: center;
				background: url('../images/hexagon.png') no-repeat;
				background-size: cover;

				.fa {
					color: #fff;
					line-height: 158px;
				}
			}
		}
	}
}
/*------------------------------------------end about----------------------------------*/
/*------------------------------------------project----------------------------------*/
.project {
	padding-bottom: 0;
	background: #fff;


	.section-description {
		@include section-description;
		margin-bottom: 35px;
	}

	.float-img {
		float: right;
		max-width: 469px;
		max-height: 541px;
	}

	.img-title {
		margin: 0 auto 36px;
		text-align: center;
		color: #333;
		font: 700 20px / 28px 'Raleway', sans-serif;
		text-transform: uppercase;
	}

	.first-paragraph,
	.second-paragraph {
		max-width: 599px;
		color: #6e6e6e;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
	}

	.second-paragraph {
		margin: 55px 0 32px;
	}

	.link-button {
		display: block;
		width: 96px;
		height: 27px;
		text-align: center;
		color: #009aff;
		font-size: 12px;
		line-height: 27px;
		font-weight: 400;
		background: url('../images/button-bg.png') no-repeat;
	}
}
/*------------------------------------------end project----------------------------------*/
/*------------------------------------------services----------------------------------*/
.services {
		position:relative;
		padding-top: 0;
	    background: #ececec url("../images/services-bg.png") center no-repeat;
   		background-size: cover;

   		&:before {
		    background: #fff;
		    content: "";
		    position: absolute;
		    width: 66%;
		    height: 54%;
		    top: -22%;
		    left: -76%;
		    z-index: 1;
		    -webkit-transform: rotate(98deg);
		    -moz-transform: rotate(98deg);
		    -ms-transform: rotate(98deg);
		    -o-transform: rotate(98deg);
		    transform: rotate(98deg);
		}



	&:after {
		background: #fff;
	    content: "";
	    position: absolute;
	    top: -11%;
	    height: 35%;
	    width: 65%;
	    right: -145px;
	    -webkit-transform: rotate(82deg);
	    -moz-transform: rotate(82deg);
	    -ms-transform: rotate(82deg);
	    -o-transform: rotate(82deg);
	    transform: rotate(82deg);
	    z-index: 1;
	}

	.section-description {
		@include section-description;
		margin: 0 auto 40px;
		padding-top: 270px;
		color: #fff;
	}

	.services-item {
		margin: 0 auto;
		text-align: center;

		li {
			display: inline-block;
			width: 260px;
			margin: 0 auto;
			text-align: center;

			a {
				color: #fff;
				font: 500 18px / 28px 'Raleway', sans-serif;
			}

			.hexagon {
				display: block;
				width: 103px;
				height: 118px;
				margin: 25px auto 17px;
				text-align: center;
				background: url('../images/hexagon.png') no-repeat;
				background-size: cover;

				.fa {
					line-height: 118px;
					color: #fff;
					text-align: center;
				}
			}
		}
	}
}
/*------------------------------------------end services----------------------------------*/
/*------------------------------------------blog----------------------------------*/
.blog {
	background-color: #ececec;
	background-size: cover;

	.section-description {
		@include section-description;
		margin-bottom: 46px;
	}

	.grid {
		margin: 0 auto;
		text-align: center;

		li {
			display: inline-block;
			width: 270px;
			margin: 15px auto;
			text-align: center;
			background-color: #fff;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;

			h3 {
				margin: 40px 0 23px 16px;
				color: #000;
				text-align: left;
				font-size: 18px;
				font-weight: 700;
				line-height: 60px;
			}

			p {
				margin: 0 0 22px 16px;
				color: dimgrey;
				text-align: left;
				font-size: 16px;
				font-weight: 400;
				line-height: 30px;
			}

			.socisl-action {
				margin: 14px auto 18px;
				text-align: center;
				border-top: 1px solid #d9d9d9;

				li {
					display: inline-block;
					width: auto;

					&:first-child {
						float: left;
						margin-left: 15px;
					}
					&:last-child {
						float: right;
						margin-right: 17px;
					}

					a {
						color: #595858;

						&:hover {
							text-decoration: underline;
						}
						.fa {
							color: #4e4e4e;
						}

						.action-description-wide {
							color: #444;
							font: 600 14px / 60px 'OpenSans', sans-serif;
							text-transform: uppercase;
						}

						.action-description {
							color: #595858;
							font-size: 14px;
							font-weight: 700;
							line-height: 30px;
						}
					}
				}
			}
		}
	}
}
/*------------------------------------------end blog----------------------------------*/
/*------------------------------------------prices----------------------------------*/
.prices {
	position: relative;
	background-color: #fff;

	&:before {
	    background: #ececec;
	    content: "";
	    position: absolute;
	    width: 22%;
	    height: 20%;
	    top: -12%;
	    left: -26%;
	    z-index: 2;
	    -webkit-transform: rotate(106deg);
	    -moz-transform: rotate(106deg);
	    -ms-transform: rotate(106deg);
	    -o-transform: rotate(106deg);
	    transform: rotate(106deg);
	}

	&:after {
	    background: #ececec;
	    content: "";
	    position: absolute;
	    top: -12%;
	    height: 21%;
	    width: 15%;
	    right: -31%;
	    -webkit-transform: rotate(15deg);
	    -moz-transform: rotate(15deg);
	    -ms-transform: rotate(15deg);
	    -o-transform: rotate(15deg);
	    transform: rotate(75deg);
	    z-index: 9;
	}

	.section-description {
		@include section-description;
		margin-bottom: 97px;
	}

	.prices-block {
		margin: 0 auto;
		text-align: center;


		li {
			display: inline-block;
			max-width: 300px;
			width: 100%;
			margin: 20px auto;
			background-color: #fc0;


			h3 {
				margin: 47px auto 0;
				text-align: center;
				color: #fff;
				font-size: 26px;
				font-weight: 700;
				line-height: 72px;
				text-transform: uppercase;
			}

			.price-header {
				position: relative;

				.simbol {
					position: absolute;
				    top: -6px;
    				left: 25%;
					color: #000;
					font-size: 24px;
					font-weight: 400;
					line-height: 72px;
					text-transform: uppercase;
				}

				.price {
					color: #000;
					font-size: 48px;
					font-weight: 800;
					line-height: 72px;
					text-transform: uppercase;
				}

				.timing {
					color: #000;
					font-weight: 400;
					line-height: 72px;
					font-size: 14px;

					.line {
						font-size: 24px;
						text-transform: uppercase;
					}
				}
			}

			.opportunity-list {
				margin: 0 auto;
				text-align: center;
				border-top: 1px solid #abdeff;

				li {
					display: block;
					margin: 0 auto;
					text-align: center;
					
					a {
						color: #000;
						font-size: 18px;
						font-weight: 400;
						line-height: 72px;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.select-oportunity {
			margin: 20px auto;
			background-color: #009bff;
			border: 1px solid #009bff;
			box-shadow: 0 0 7.5px 0.5px rgba(0, 0, 0, 0.23);

			h3 {
				margin-top: 0;
			}

			.check-oportunity {
				display: block;
				width: 30px;
				height: 30px;
				margin: 31px auto 20px;
				text-align: center;
				line-height: 30px;
				border: 2px solid #fff;
				border-radius: 100%;

				.fa {
					font-size: 20px;
					color: #fff;
				}
			}
	
			.opportunity-list {
				li {
					background-color: #009bff;
				}
			}
		}
	}

	.singup-button {
		display: block;
		width: 168px;
		margin: 38px auto 36px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		line-height: 45px;
		text-transform: uppercase;
		border: 1px solid #000;
		background-color: #000;

		&:hover {
			@include transition;
			color: #000;
			background: #fff;
		}
	}
}
/*------------------------------------------end prices----------------------------------*/
/*------------------------------------------footer----------------------------------*/
footer {
	position: relative;
	padding-bottom: 20px;
	// background: url('../images/footer-bg.png') center  no-repeat;
	background-color: #204359;
	background-size: cover;

	&:before {
	    background: #fff;
	    content: "";
	    position: absolute;
	    width: 22%;
	    height: 20%;
	    top: -11%;
	    left: 0%;
	    z-index: 2;
	    -webkit-transform: rotate(106deg);
	    -moz-transform: rotate(106deg);
	    -ms-transform: rotate(106deg);
	    -o-transform: rotate(106deg);
	    transform: rotate(106deg);
	}

	&:after {
	    background: #fff;
	    content: "";
	    position: absolute;
	    top: -12%;
	    height: 22%;
	    width: 21%;
	    right: -8%;
	    -webkit-transform: rotate(15deg);
	    -moz-transform: rotate(15deg);
	    -ms-transform: rotate(15deg);
	    -o-transform: rotate(15deg);
	    transform: rotate(75deg);
	    z-index: 9;
	}

	.footer-list {
		margin: 20px auto 0;
		text-align: left;

		li {
			display: inline-block;
			width: auto;
			text-align: left;
		}

		.main-info {
			float: left;
			max-width: 370px;
			width: 100%;
			margin-right: 100px;
			.footer-logo {
				display: block;
				margin: 0 auto 34px;
			}

			.item-description {
				margin-bottom: 32px;
				color: #9ab3cc;
				font-size: 14px;
				font-weight: 400;
				line-height: 26px;
			}

			.locality {
				margin: 0 auto;
				text-align: center;

				li {
					clear: both;
					display: block;
					width: 100%;
					margin: 15px auto;

					.address,
					.call,
					.mail {
						float: left;
						color: #9ab3cc;
						font-size: 14px;
						font-weight: 400;
						line-height: 24px;

						.city-location {
							color: #9ab3cc;

							&:hover {
								text-decoration: underline;
							}
						}

						.fa {
							float: left;
							margin: 0 10px 20px 0;
							color: #94abc3;
						}

						.postcode {
							display: block;
							margin-bottom: 20px;
						}

						.phone,
						.e-mail {
							&:hover {
								text-decoration: underline;
							}
						}
					}

				}
			}
		}

		.footer-nav,
		.more-about,
		.social-contact {
			float: left;
			margin: 30px 101px 0 0;

			h3 {
				max-width: 75px;
				padding-bottom: 16px;
				color: #fff;
				font-size: 12px;
				font-weight: 600;
				line-height: 24px;
				text-transform: uppercase;
				border-bottom: 1px solid #7eabc7;
			}

			.footer-menu {
				margin: 24px 0 0;
				text-align: left;

				li {
					display: block;
					text-align: left;

					a {
						color: #9ab3cc;
						font-size: 14px;
						font-weight: 400;
						line-height: 36px;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.footer-nav {
			max-width: 83px;
			width: 100%;
		}

		.more-about {
			max-width: 144px;
			width: 100%;
			h3 {
				max-width: 130px;
			}
		}

		.social-contact {
			max-width: 270px;
			width: 100%;
			margin-right: 0;

			.footer-form {
				max-width: 265px;
				width: 100%;
				margin: 17px 0 33px;
				text-align: left;

				li {

					p {
						margin-bottom: 41px;
						color: #748ca5;
						font: 400 14px / 24px 'OpenSans', sans-serif;
					}

					.mail-form {
						max-width: 270px;


						.contact-email {
							float: left;
							width: 204px;
							height: 40px;
							padding-left: 13px; 
							color: #a6a6a6;
							font: 14px / 36px 'OpenSans', sans-serif;
							font-style: italic;
							background-color: #fff;
							border: none;
						}

						.submit-button {
							float: left;
							width: 48px;
							height: 42px;
							color: #fff;
							background-color: #009bff;
							border: none;
							cursor: pointer;
						}
					}
				}
			}

			.social-icons {
				float: left;
				margin: 0 auto;
				text-align: center;

				li {
					display: inline-block;
					margin: 0 5px;
					text-align: left;

					a {
						.fa {
							color: #94abc3;
							@include transition;

							&:hover {
								color: #009bff;
							}
						}
					}
				}
			}	
		}
	}
	.explore-wrapper {
		width: 100%;
		padding: 0;

		.copyright {
			position: relative;
			clear: both;
			width: 100%;
			margin: 131px auto 0;
			text-align: center;
			color: #748ca5;
			font: 400 11px 'OpenSans', sans-serif;
			text-transform: uppercase;

			a {
				color: #748ca5;

				&:hover {
					text-decoration: underline;
				}
			}

			.explore-button {
				position: absolute;
				bottom: 10%;
				left: 0;
				display: block;
				width: 100%;
				margin: 0 auto 30px;
				text-align: center;
				font: 27px / 60px 'OpenSans', sans-serif;
				color: #fff;

				&:hover {
					text-decoration: none;
				}
			
				&:before,
				&:after {
					position: absolute;
					top: 30px;
					width: 100%;
					z-index: 1;
					content: ' ';
					border-top: 1px solid rgba(255, 255, 255, 0.1);
				}
				&:before {
					left: 0;
				}
				&:after {
					right: 0;
				}
				.arrow {
					position: relative;
					display: block;
					top: 0;
					width: 45px;
					height: 52px;
					margin: 0 auto;
					z-index: 2;
					line-height: 52px;
					text-align: center;
					background-color: #fc0;
				}
			}
		}
	}
}
/*------------------------------------------end footer----------------------------------*/
/*------------------------------------------hero----------------------------------*/
.hero {
	padding-bottom: 100px;	
}
/*------------------------------------------end hero----------------------------------*/


@media (min-width: 480px) {
/*------------------------------------------about----------------------------------*/
	.about {

		&:before {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 47%;
		    top: 81%;
		    left: -30%;
		    z-index: -1;
		    -webkit-transform: rotate(30deg);
		    -moz-transform: rotate(30deg);
		    -ms-transform: rotate(30deg);
		    -o-transform: rotate(30deg);
		    transform: rotate(-73deg);
	    }

		&:after {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    top: 74%;
		    height: 77%;
		    width: 60%;
		    right: 0%;
		    z-index: -1;
		    -webkit-transform: rotate(15deg);
		    -moz-transform: rotate(15deg);
		    -ms-transform: rotate(15deg);
		    -o-transform: rotate(15deg);
		    transform: rotate(0deg);
		}
	}
/*------------------------------------------end about----------------------------------*/
/*------------------------------------------services----------------------------------*/
	.services {
			position:relative;
			padding-top: 0;
		    background: #ececec url("../images/services-bg.png") center no-repeat;
	   		background-size: cover;

	   		&:before {
			    background: #fff;
			    content: "";
			    position: absolute;
			    width: 66%;
			    height: 55%;
			    top: -27%;
			    left: -45%;
			    z-index: 1;
			    -webkit-transform: rotate(98deg);
			    -moz-transform: rotate(98deg);
			    -ms-transform: rotate(98deg);
			    -o-transform: rotate(98deg);
			    transform: rotate(98deg);
			}



		&:after {
			background: #fff;
		    content: "";
		    position: absolute;
		    top: -16%;
		    height: 36%;
		    width: 65%;
		    right: -114px;
		    -webkit-transform: rotate(82deg);
		    -moz-transform: rotate(82deg);
		    -ms-transform: rotate(82deg);
		    -o-transform: rotate(82deg);
		    transform: rotate(82deg);
		    z-index: 1;
		}
	}
/*------------------------------------------end services----------------------------------*/
/*------------------------------------------prices----------------------------------*/
	.prices {
		position: relative;
		background-color: #fff;

		&:before {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    width: 22%;
		    height: 20%;
		    top: -12%;
		    left: -6%;
		    z-index: 2;
		    -webkit-transform: rotate(106deg);
		    -moz-transform: rotate(106deg);
		    -ms-transform: rotate(106deg);
		    -o-transform: rotate(106deg);
		    transform: rotate(106deg);
		}

		&:after {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    top: -12%;
		    height: 21%;
		    width: 17%;
		    right: -4%;
		    -webkit-transform: rotate(15deg);
		    -moz-transform: rotate(15deg);
		    -ms-transform: rotate(15deg);
		    -o-transform: rotate(15deg);
		    transform: rotate(75deg);
		    z-index: 9;
		}
	}
/*------------------------------------------end prices----------------------------------*/
/*------------------------------------------footer----------------------------------*/
	footer {

		&:before {
		    background: #fff;
		    content: "";
		    position: absolute;
		    width: 10%;
		    height: 20%;
		    top: -10%;
		    left: 20%;
		    z-index: 2;
		    -webkit-transform: rotate(100deg);
		    -moz-transform: rotate(100deg);
		    -ms-transform: rotate(100deg);
		    -o-transform: rotate(100deg);
		    transform: rotate(100deg);
		}

		&:after {
	        background: #fff;
		    content: "";
		    position: absolute;
		    top: -11%;
		    height: 22%;
		    width: 10%;
		    right: 15%;
		    -webkit-transform: rotate(81deg);
		    -moz-transform: rotate(81deg);
		    -ms-transform: rotate(81deg);
		    -o-transform: rotate(81deg);
		    transform: rotate(81deg);
		    z-index: 9;
		}
		.explore-wrapper {
			padding-bottom: 80px;

			.copyright {
				padding-top: 20px;
			}
			
		}
	}
/*------------------------------------------end footer----------------------------------*/
}

@media (min-width: 768px) {
/*------------------------------------------hero----------------------------------*/
	.hero {

		.logo {
			padding-top: 275px;
		}

		.hero-title {
			margin: 0 auto 40px;
		}	
	}
/*------------------------------------------end hero----------------------------------*/
/*------------------------------------------about----------------------------------*/
	.about {
		
		&:before {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    width: 100%;
		    height: 47%;
		    top: 81%;
		    left: -30%;
		    z-index: -1;
		    -webkit-transform: rotate(30deg);
		    -moz-transform: rotate(30deg);
		    -ms-transform: rotate(30deg);
		    -o-transform: rotate(30deg);
		    transform: rotate(-90deg);
		}
	}
/*------------------------------------------end about----------------------------------*/
/*------------------------------------------project----------------------------------*/
	.project {


		
		.float-img {
			width: 60%;
			height: auto;
			margin-left: 20px;
		}
	}
/*------------------------------------------end project----------------------------------*/
/*------------------------------------------services----------------------------------*/
	.services {

	   		&:before {
		        background: #fff;
			    content: "";
			    position: absolute;
			    width: 22%;
			    height: 53%;
			    top: -23%;
			    left: 12%;
			    z-index: 4;
			    -webkit-transform: rotate(98deg);
			    -moz-transform: rotate(98deg);
			    -ms-transform: rotate(98deg);
			    -o-transform: rotate(98deg);
			    transform: rotate(98deg);
			}



		&:after {
			background: #fff;
		    content: "";
		    position: absolute;
		    top: -7%;
		    height: 21%;
		    width: 55%;
		    right: -18px;
		    -webkit-transform: rotate(82deg);
		    -moz-transform: rotate(82deg);
		    -ms-transform: rotate(82deg);
		    -o-transform: rotate(82deg);
		    transform: rotate(172deg);
		    z-index: 1;
		}
	}
/*------------------------------------------end services----------------------------------*/
/*------------------------------------------prices----------------------------------*/
	.prices {
		position: relative;
		background-color: #fff;

		&:before {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    width: 10%;
		    height: 26%;
		    top: -13%;
		    left: 17%;
		    z-index: 2;
		    -webkit-transform: rotate(106deg);
		    -moz-transform: rotate(106deg);
		    -ms-transform: rotate(106deg);
		    -o-transform: rotate(106deg);
		    transform: rotate(99deg);
		}

		&:after {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    top: -12%;
		    height: 24%;
		    width: 13%;
		    right: 19%;
		    -webkit-transform: rotate(15deg);
		    -moz-transform: rotate(15deg);
		    -ms-transform: rotate(15deg);
		    -o-transform: rotate(15deg);
		    transform: rotate(84deg);
		    z-index: 9;
		}
	}
/*------------------------------------------end prices----------------------------------*/
/*------------------------------------------footer----------------------------------*/
	footer {

		&:before {
	        background: #fff;
		    content: "";
		    position: absolute;
		    width: 15%;
		    height: 45%;
		    top: -25%;
		    left: 17%;
		    z-index: 2;
		    -webkit-transform: rotate(100deg);
		    -moz-transform: rotate(100deg);
		    -ms-transform: rotate(100deg);
		    -o-transform: rotate(100deg);
		    transform: rotate(98deg);
		}

		&:after {
	        background: #fff;
		    content: "";
		    position: absolute;
		    top: -19%;
		    height: 39%;
		    width: 10%;
		    right: 19%;
		    -webkit-transform: rotate(81deg);
		    -moz-transform: rotate(81deg);
		    -ms-transform: rotate(81deg);
		    -o-transform: rotate(81deg);
		    transform: rotate(84deg);
		    z-index: 9;
		}

		.footer-list { 
			.more-about {
				clear: both;
			}
		}
	}
/*------------------------------------------end footer----------------------------------*/
}
@media (min-width: 1024px) {
/*------------------------------------------navigation----------------------------------*/
	header {
		
	  .main-menu {
	    left: 50%;
    	transform: translateX(-35%);
	  }

	  .nav {
	    position: absolute;
	    width: 100%;
	    left: 50%;
	    transform: translateX(-50%);
	    @include transition;
	    li {
	      float: left;

	      font-size: 0;
	    }
	    a {
			display: block;
			width: 84px;
			height: 55px;
			box-sizing: border-box;
			padding-top: 32px;
			margin: 0 10px 0;
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			line-height: 0;
			text-align: center;
			@include transition;

	      &:hover {
	        color: #fff;
	        width: 84px;
			height: 55px;
			background: #fc0;
			position: relative;
		
			&:after {
				content: "";
				position: absolute;
				bottom: -25px; 
				left: 0;
				width: 0;
				height: 0;
				border-left: 42px solid transparent;
			    border-right: 41px solid transparent;
			    border-top: 25px solid #fc0;
			}
	      }
	    }
	  }
	}
/*------------------------------------------end navigation----------------------------------*/
/*------------------------------------------about----------------------------------*/
	.about {
		
		&:before {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    width: 100%;
		    height: 47%;
		    top: 81%;
		    left: -30%;
		    z-index: -1;
		    -webkit-transform: rotate(-161deg);
		    -moz-transform: rotate(-161deg);
		    -ms-transform: rotate(-161deg);
		    -o-transform: rotate(-161deg);
		    transform: rotate(-161deg);
		}

		.item-about {
			display: flex;
		}
	}
/*------------------------------------------end about----------------------------------*/
/*------------------------------------------services----------------------------------*/
	.services {

   		&:before {
            content: "";
		    position: absolute;
		    width: 17%;
		    height: 66%;
		    top: -30%;
		    left: 16%;
		    z-index: 4;
		    -webkit-transform: rotate(98deg);
		    -moz-transform: rotate(98deg);
		    -ms-transform: rotate(98deg);
		    -o-transform: rotate(98deg);
		    transform: rotate(98deg);
		}



		&:after {
			background: #fff;
		    content: "";
		    position: absolute;
		    top: -9%;
		    height: 22%;
		    width: 59%;
		    right: -72px;
		    -webkit-transform: rotate(82deg);
		    -moz-transform: rotate(82deg);
		    -ms-transform: rotate(82deg);
		    -o-transform: rotate(82deg);
		    transform: rotate(172deg);
		    z-index: 1;
		}
	}
/*------------------------------------------end services----------------------------------*/
/*------------------------------------------prices----------------------------------*/
	.prices {
		position: relative;
		background-color: #fff;

		&:before {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    width: 9%;
		    height: 54%;
		    top: -28%;
		    left: 18%;
		    z-index: 2;
		    -webkit-transform: rotate(98deg);
		    -moz-transform: rotate(98deg);
		    -ms-transform: rotate(98deg);
		    -o-transform: rotate(98deg);
		    transform: rotate(98deg);
		}

		&:after {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    top: -28%;
		    height: 53%;
		    width: 12%;
		    right: 20%;
		    -webkit-transform: rotate(84deg);
		    -moz-transform: rotate(84deg);
		    -ms-transform: rotate(84deg);
		    -o-transform: rotate(84deg);
		    transform: rotate(84deg);
		    z-index: 9;
		}

		.prices-block {
			display: flex;
    		align-items: center;

    		.select-oportunity {
				display: inline;
			    margin: 20px -48px;
			    background-color: #009bff;
				border: 1px solid #009bff;
				box-shadow: 0 0 7.5px 0.5px rgba(0, 0, 0, 0.23);
    		}
		}
	}
/*------------------------------------------end prices----------------------------------*/
/*------------------------------------------footer----------------------------------*/
	footer {

		&:before {
        	background: #fff;
		    content: "";
		    position: absolute;
		    width: 15%;
		    height: 71%;
		    top: -42%;
		    left: 17%;
		    z-index: 2;
		    -webkit-transform: rotate(100deg);
		    -moz-transform: rotate(100deg);
		    -ms-transform: rotate(100deg);
		    -o-transform: rotate(100deg);
		    transform: rotate(96deg);
		}

		&:after {
            background: #fff;
		    content: "";
		    position: absolute;
		    top: -40%;
		    height: 76%;
		    width: 11%;
		    right: 21%;
		    -webkit-transform: rotate(81deg);
		    -moz-transform: rotate(81deg);
		    -ms-transform: rotate(81deg);
		    -o-transform: rotate(81deg);
		    transform: rotate(87deg);
		    z-index: 9;
		}

		.footer-list { 
			.more-about {
				clear: none;
			}

			.main-info,
			.footer-nav,
			.more-about {
				margin-right: 40px;
			}
		}
	}
/*------------------------------------------end footer----------------------------------*/
}

@media (min-width: 1200px) {
/*------------------------------------------project----------------------------------*/
	.project {
		position: relative;

		&:before {
        	background: #ececec;
		    content: "";
		    position: absolute;
		    width: 15%;
		    height: 90%;
		    top: -53%;
		    left: 16%;
		    z-index: 2;
		    -webkit-transform: rotate(96deg);
		    -moz-transform: rotate(96deg);
		    -ms-transform: rotate(96deg);
		    -o-transform: rotate(96deg);
		    transform: rotate(96deg);
		}

		&:after {
            background: #ececec;
		    content: "";
		    position: absolute;
		    top: -44%;
		    height: 78.7%;
		    width: 12.3%;
		    right: 20%;
		    -webkit-transform: rotate(85deg);
		    -moz-transform: rotate(85deg);
		    -ms-transform: rotate(85deg);
		    -o-transform: rotate(85deg);
		    transform: rotate(85deg);
		    z-index: 9;
		}
		
	}
/*------------------------------------------end project----------------------------------*/
/*------------------------------------------services----------------------------------*/
	.services {

   		&:before {
            content: "";
		    position: absolute;
		    width: 18%;
		    height: 109%;
		    top: -63%;
		    left: 17%;
		    z-index: 4;
		    -webkit-transform: rotate(98deg);
		    -moz-transform: rotate(98deg);
		    -ms-transform: rotate(98deg);
		    -o-transform: rotate(98deg);
		    transform: rotate(98deg);
		}



		&:after {
	        background: #fff;
		    content: "";
		    position: absolute;
		    top: -18%;
		    height: 27%;
		    width: 62%;
		    right: -129px;
		    -webkit-transform: rotate(82deg);
		    -moz-transform: rotate(82deg);
		    -ms-transform: rotate(82deg);
		    -o-transform: rotate(82deg);
		    transform: rotate(172deg);
		    z-index: 1;
		}

		.section-description {
			padding-top: 155px;
		}

		.services-item {
			padding-bottom: 40px;
		}
	}
/*------------------------------------------end services----------------------------------*/
/*------------------------------------------blog----------------------------------*/
	.blog {

		.grid {
			
			li {
				margin: 15px 10px;
			}
		}
	}
/*------------------------------------------end blog----------------------------------*/
/*------------------------------------------prices----------------------------------*/
	.prices {
		position: relative;
		background-color: #fff;

		&:before {
            background: #ececec;
		    content: "";
		    position: absolute;
		    width: 8%;
		    height: 72%;
		    top: -37%;
		    left: 16%;
		    z-index: 2;
		    -webkit-transform: rotate(98deg);
		    -moz-transform: rotate(98deg);
		    -ms-transform: rotate(98deg);
		    -o-transform: rotate(98deg);
		    transform: rotate(98deg);
		}

		&:after {
            background: #ececec;
		    content: "";
		    position: absolute;
		    top: -37%;
		    height: 69%;
		    width: 13%;
		    right: 15%;
		    -webkit-transform: rotate(84deg);
		    -moz-transform: rotate(84deg);
		    -ms-transform: rotate(84deg);
		    -o-transform: rotate(84deg);
		    transform: rotate(84deg);
		    z-index: 9;
		}

		.prices-block {
			display: flex;
    		align-items: center;

    		.select-oportunity {
				display: inline;
			    margin: 20px -135px;
			    background-color: #009bff;
				border: 1px solid #009bff;
				box-shadow: 0 0 7.5px 0.5px rgba(0, 0, 0, 0.23);
    		}
		}
	}
/*------------------------------------------end prices----------------------------------*/
/*------------------------------------------footer----------------------------------*/
	footer {

		&:before {
    	    background: #fff;
		    content: "";
		    position: absolute;
		    width: 15%;
		    height: 94%;
		    top: -55%;
		    left: 18%;
		    z-index: 2;
		    -webkit-transform: rotate(100deg);
		    -moz-transform: rotate(100deg);
		    -ms-transform: rotate(100deg);
		    -o-transform: rotate(100deg);
		    transform: rotate(96deg);
		}

		&:after {
            background: #fff;
		    content: "";
		    position: absolute;
		    top: -47%;
		    height: 89.5%;
		    width: 11%;
		    right: 16%;
		    -webkit-transform: rotate(81deg);
		    -moz-transform: rotate(81deg);
		    -ms-transform: rotate(81deg);
		    -o-transform: rotate(81deg);
		    transform: rotate(87deg);
		    z-index: 9;
		}

		.footer-list { 
			
			.main-info,
			.footer-nav,
			.more-about {
				margin-right: 101px;
			}
		}
	}
/*------------------------------------------end footer----------------------------------*/
}

@media (min-width: 1365px) {
/*------------------------------------------hero----------------------------------*/
	.hero {

		.logo {
			padding-top: 275px;
		}

		.hero-title {
			margin: 0 auto 110px;
		}
	}
/*------------------------------------------end hero----------------------------------*/

/*------------------------------------------about----------------------------------*/
	.about {
		
		&:before {
		    background: #ececec;
		    content: "";
		    position: absolute;
		    width: 200%;
		    height: 200%;
		    top: 100%;
		    left: 0%;
		    z-index: -1;
		    -webkit-transform: rotate(-161deg);
		    -moz-transform: rotate(-161deg);
		    -ms-transform: rotate(-161deg);
		    -o-transform: rotate(-161deg);
		    transform: rotate(-180deg);
		}

		.item-about {
			display: flex;
		}
	}
/*------------------------------------------end about----------------------------------*/
/*------------------------------------------project----------------------------------*/
	.project {
		position: relative;

		&:before {
	        background: #ececec;
		    content: "";
		    position: absolute;
		    width: 16%;
		    height: 96%;
		    top: -57.1%;
		    left: 18%;
		    z-index: 2;
		    -webkit-transform: rotate(96deg);
		    -moz-transform: rotate(96deg);
		    -ms-transform: rotate(96deg);
		    -o-transform: rotate(96deg);
		    transform: rotate(96deg);
		}

		&:after {
           background: #ececec;
		    content: "";
		    position: absolute;
		    top: -50.8%;
		    height: 90%;
		    width: 13.3%;
		    right: 18%;
		    -webkit-transform: rotate(85deg);
		    -moz-transform: rotate(85deg);
		    -ms-transform: rotate(85deg);
		    -o-transform: rotate(85deg);
		    transform: rotate(85deg);
		    z-index: 9;
		}
		


	}
/*------------------------------------------end project----------------------------------*/
/*------------------------------------------services----------------------------------*/
	.services {

   		&:before {
	        content: "";
			position: absolute;
		    width: 18%;
		    height: 126%;
		    top: -74%;
		    left: 16%;
		    z-index: 4;
		    -webkit-transform: rotate(98deg);
		    -moz-transform: rotate(98deg);
		    -ms-transform: rotate(98deg);
		    -o-transform: rotate(98deg);
		    transform: rotate(97deg);
		}

		&:after {
            background: #fff;
		    content: "";
		    position: absolute;
		    top: -19%;
		    height: 27%;
		    width: 62%;
		    right: -144px;
		    -webkit-transform: rotate(82deg);
		    -moz-transform: rotate(82deg);
		    -ms-transform: rotate(82deg);
		    -o-transform: rotate(82deg);
		    transform: rotate(172deg);
		    z-index: 1;
		}
	}
/*------------------------------------------end services----------------------------------*/
/*------------------------------------------prices----------------------------------*/
	.prices {
		position: relative;
		background-color: #fff;

		&:before {
            background: #ececec;
		    content: "";
		    position: absolute;
		    width: 8%;
		    height: 72%;
		    top: -37%;
		    left: 19%;
		    z-index: 2;
		    -webkit-transform: rotate(98deg);
		    -moz-transform: rotate(98deg);
		    -ms-transform: rotate(98deg);
		    -o-transform: rotate(98deg);
		    transform: rotate(98deg);
		}

		&:after {
            background: #ececec;
		    content: "";
		    position: absolute;
		    top: -37.4%;
		    height: 69%;
		    width: 13%;
		    right: 19%;
		    -webkit-transform: rotate(84deg);
		    -moz-transform: rotate(84deg);
		    -ms-transform: rotate(84deg);
		    -o-transform: rotate(84deg);
		    transform: rotate(84deg);
		    z-index: 9;
		}
	}
/*------------------------------------------end prices----------------------------------*/
/*------------------------------------------footer----------------------------------*/
	footer {

		&:before {
	        background: #fff;
		    content: "";
		    position: absolute;
		    width: 15%;
		    height: 108%;
		    top: -64%;
		    left: 19%;
		    z-index: 2;
		    -webkit-transform: rotate(100deg);
		    -moz-transform: rotate(100deg);
		    -ms-transform: rotate(100deg);
		    -o-transform: rotate(100deg);
		    transform: rotate(96deg);
		}

		&:after {
        	background: #fff;
		    content: "";
		    position: absolute;
		    top: -57.5%;
		    height: 109%;
		    width: 11%;
		    right: 19.2%;
		    -webkit-transform: rotate(81deg);
		    -moz-transform: rotate(81deg);
		    -ms-transform: rotate(81deg);
		    -o-transform: rotate(81deg);
		    transform: rotate(87deg);
		    z-index: 9;
		}

		.explore-wrapper {
			padding-bottom: 0;
		}
	}
/*------------------------------------------end footer----------------------------------*/

}